
.articleButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}

.list{
    background-color: rgb(173, 247, 173)
    
}

.eachListDiv{
    
    border:  rgb(2, 53, 2);
    
    
}
h3{
    text-align: center 
}

p{
    text-align: left justify
}
h5{
    text-align: right;
    padding: .5em;
}

.card-link{
    background-color: red;
    margin: 0 0 10px 0
}
.news{
    border: black;
}